# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Specific overrides if needed
code/terraform.tfvars
code/.terraform/
code/.terraform.lock.hcl
additional-projects/terraform.tfvars
additional-projects/.terraform/
additional-projects/.terraform.lock.hcl
additional-projects/terraform.tfstate
additional-projects/terraform.tfstate.backup
